<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partner Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Partner Details</h2>
        <div class="card">
            <div class="card-body">
                <h2>Partner Name: {{ partner.name }}</h2>
                <h5>Partner Email: {{ partner.email }}</h5>
                <h5>Partner Mobile_No.: {{ partner.mobile_no }}</h5>
                <h5>Partner Address: {{ partner.address }}</h5>
                <p>Partner data added at: {{ partner.created_at }}</p>
            </div>
        </div>
        {% if user.is_admin %}
            <a href="{% url 'edit_partner' partner.pk %}" class="btn btn-warning mt-3">Edit</a>
        {% endif %}
        <a href="{% url 'partner_list' %}" class="btn btn-primary mt-3">Back to Partners List</a>
        <a href="{% url 'edit_partner' partner.pk %}" class="btn btn-success mt-3">Edit Partners Details</a>
    </div>
</body>
</html>
